
body, button, input, label {
  font-size: 16px;
  font-family: Garamond;
  line-height: 1.2;

  padding: 0;
  margin: 0;
}

h2, h3 {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
}
